h2,
h3,
.button-container {
  padding-left: 33%;
}

header {
  font-size: 18px;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 800px;
  margin-left: 20%;
}

input {
  width: 90px;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 20px;
}
.button-container {
  width: 50%;
}
img {
  padding-left: 18%;
}
